* {
    font-family: Helvetica, sans-serif;
}

a {
    color: black
}

a:active {
    color: black;
}

img {
    width: 550px;
    height: auto;
}

li {
    display: inline;
    padding: 10px 20px;
}

.body-home {
    background-color: #da0;
    font-weight: bold;
}

.body-recipe {
    background-color: #17354e;
    color: white;
}
